<div class="reset-password-container">
  <mat-card class="reset-password-card">

    <div fxLayout="row" fxLayoutAlign="start start">

      <img alt="Image" class="bosch-logo-image" src="assets/boschLogo.png">
    </div>

    <mat-card-header class="reset-password-text">
      <mat-card-title>
        <button (click)="cancelResetPassword()" mat-icon-button>
          <mat-icon class="cancel-button">arrow_back_ios</mat-icon>
        </button>
        Password Forgotten?
      </mat-card-title>
    </mat-card-header>


    <mat-card-content>
      <mat-error *ngIf="resetFailed" class="error-message" color="warn">
        {{errorMessage}}
      </mat-error>

      <mat-card *ngIf="emailSent" class="email-sent-label">
        <mat-label>Email was sent to specified email address.</mat-label>
        <mat-label class="login-page-link"><a routerLink="/login">Back to login </a></mat-label>
      </mat-card>

      <mat-card *ngIf="!emailSent" class="reset-password-label">
        <mat-label>Please enter the email address associated with your account.
        </mat-label>
      </mat-card>



      <form (submit)="onSubmit()" *ngIf="!emailSent">
        <mat-form-field appearance="fill" class="reset-password-form-field">
          <mat-label>Email</mat-label>
          <input [(ngModel)]="email" matInput name="email" placeholder="Enter your email" required>
        </mat-form-field>

        <button class="reset-password-button" color="primary" mat-raised-button type="submit">Send email</button>
      </form>

    </mat-card-content>

  </mat-card>
</div>
