<div class="reset-password-page-container">
  <mat-card class="reset-password-page-card">

    <div fxLayout="row" fxLayoutAlign="start start">

      <img alt="Image" class="bosch-logo-image" src="assets/boschLogo.png">
    </div>

    <mat-card-header class="reset-password-page-text">
      <mat-card-title>
        Reset your password
      </mat-card-title>
    </mat-card-header>


    <mat-card-content>
      <mat-error *ngIf="showError" class="error-message" color="warn">
        {{errorMessage}}
      </mat-error>

      <mat-card *ngIf="passwordReset" class="password-reset-label">
        <mat-label>Password successfully reset.</mat-label>
        <mat-label class="login-page-link"><a routerLink="/login">Back to login </a></mat-label>
      </mat-card>

<!--      <mat-card *ngIf="!passwordReset" class="reset-password-label">
        <mat-label>Please enter the email address associated with your account.
        </mat-label>
      </mat-card>
      -->

      <form (submit)="onSubmit()" *ngIf="!passwordReset" [formGroup]="resetPasswordForm">
        <mat-error *ngIf="resetPasswordForm.get('password')?.hasError('minlength')">Password must have at least 7 characters.</mat-error>
        <mat-error *ngIf="resetPasswordForm.get('password')?.hasError('hasNumber')">Password must contain at least one number.</mat-error>
        <mat-error *ngIf="resetPasswordForm.get('password')?.hasError('hasSmallCase')">Password must contain at least a small case.</mat-error>
        <mat-error *ngIf="resetPasswordForm.get('password')?.hasError('hasCapitalCase')">Password must contain at least a capital case.</mat-error>
        <mat-error *ngIf="resetPasswordForm.get('password')?.hasError('hasSpecialCharacters')">Password must contain at least a special character: !, @, %, &, ?.</mat-error>
        <mat-error *ngIf="resetPasswordForm.get('password')?.hasError('hasOtherThanAllowed')">Password must only contain these special character: !, @, %, &, ?.</mat-error>
        <mat-error *ngIf="resetPasswordForm.get('password')?.hasError('hasWhiteSpaces')">No whitespaces allowed.</mat-error>

        <mat-form-field appearance="fill" class="reset-password-form-field" >
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Choose your password" required >
        </mat-form-field>

        <mat-error *ngIf="resetPasswordForm.hasError('passwordsNotMatching')">Passwords do not march</mat-error>

        <mat-form-field appearance="fill" class="reset-password-form-field">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm your password" required>
        </mat-form-field>

        <button class="reset-password-button" color="primary" mat-raised-button type="submit">Send email</button>
      </form>

    </mat-card-content>

  </mat-card>
</div>
