<mat-toolbar class="footer_container" role="toolbar">

  <mat-toolbar-row class="footer_text">
    <span class="rights"><b>© 2023 Robert Bosch GmbH</b></span>
  </mat-toolbar-row>


  <mat-toolbar-row class="footer_image_bosch">
    <img alt="Image" class="bosch-logo-image" src="assets/boschLogo.png">
  </mat-toolbar-row>


</mat-toolbar>

<div>
  <mat-card class="footer-card">
    <div class="image-container" fxLayout="row" fxLayoutAlign="start start">
      <img alt="Image" class="bosch-colors-image" src="assets/boschColors.jpg">
    </div>
  </mat-card>
</div>
